/*External css*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Rubik:wght@400;500&display=swap');
/*font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;*/
body
{
font-family: 'Rubik', sans-serif;
font-size: 14px;
}
a,button{
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus{
	text-decoration: none;
	outline: none;
	box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Lilita One', cursive;
}
p{
	line-height: 32px;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
}
a{
	color: inherit;
}
a:hover{
	text-decoration: none;
	color: inherit;
}
.form-control:focus{
	outline: 0;
	box-shadow: none;
}
[type='color']:focus,
[type='date']:focus,
[type='datetime']:focus, 
[type='datetime-local']:focus, 
[type='email']:focus, 
[type='month']:focus, 
[type='number']:focus, 
[type='password']:focus, 
[type='search']:focus, 
[type='tel']:focus, 
[type='text']:focus, 
[type='time']:focus, 
[type='url']:focus, 
[type='week']:focus, 
input:not([type]):focus,
 textarea:focus {
    border-color: #8833FE !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*------ 1. default-css ------*/
.section-padding-top{
  padding-top: 100px;
}
.section-padding-bottom{
  padding-bottom: 100px;
}
.section-padding{
  padding:100px 0;
}
/* =======================================
	Author's custom styles
   =======================================
*/
/*	......................................
	02. header css
	......................................
*/


.neel {
    background-color: #5C20C3;
    padding: 15px 160px;
    opacity: .9;
}
header {
    background: transparent;
    padding: 40px 160px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: .8s;
}
.humberg-icon{
	float: right;
    cursor: pointer;
}
.offcanvas-menu{
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    background:#6B28D8;
    height: 100%;
    padding: 55px;
    z-index: 99;
    margin-right: -320px;
    transition: .3s;
}
.offcanvas-menu.active{
    margin-right: 0;
    transition: .3s;
    z-index: 99;
}
.offcanva-image img {
    width: 100%;
    border: 10px solid #0e1f31;
    border-radius: 50%;
}
.offcanvas-menu h5 {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
}
.offcanvas-menu p {
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
}
ul.menu {
    padding-right: 50px;
}
ul.menu ul{
    padding-right: 57px;
}
ul.menu li{
    display: block;
    text-align: right;
}
ul.menu li a span{
    text-transform: capitalize;
    font-size: 17px;
    color: #fff;
    line-height: 17px;
    margin-right: 5px;
}
ul.menu li a{
    width: 36px;
    font-size: 17px;
    color: #44ebff;
}
ul.menu li a:hover span{
padding-right: 10px;
    color: #44ebff;
}
.offcanvas-social {
    display: block;
}
.offcanvas-social i {
    background: #fff;
    height: 32px;
    width: 32px;
    text-align: center;
    color: #060630;
    font-size: 13px;
    line-height: 31px;
    transition: all 0.3s ease 0s;
    margin: 3.5px;
}
.offcanvas-social i:hover{
    background-color: #44ebff;
    color: #fff;
}
span.menu-close i {
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 60px;
    margin-top: -30px;
    padding: 10px;
    cursor: pointer;
}
.offcanvas-menu-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background:#000;
    z-index: 98;
    opacity: .5;
    display: none;
}
.offcanvas-menu-overlay.active{
    display: block;
}
/*.logo a{
	font-family: 'Lilita One', cursive;
	font-size: 50px;
	color: #fff;
	line-height: 0;
	display: inline-block;
	padding-top: 20px;
}*/
/*	......................................
	03. home css
	......................................
*/
.fixed-top {
   /* background-color: #5C20C3;
    padding: 15px 0;
    opacity: .9;*/
}
#layer_1{
    position: absolute;
    top: 4%;
    left: 38%;
}
#layer_2{
    position: absolute;
    bottom: 6%;
    left: 30%;
}
#layer_3{
    position: absolute;
    left: 8%;
    bottom: 40%;
    z-index: 1;
}
#layer_4{
    position: absolute;
    bottom: 16%;
    right: 16%;
    z-index: 99;
}
.about-left{
    position: relative;
}
.about_shape_1{
position: absolute;
right: -4%;
top: -29px;
z-index: 9999;
}
.about_shape_2{
    position: absolute;
    left: -4%;
    bottom: 49%;
}
.about_shape_3{
    position: absolute;
    right: 6%;
    bottom: 20%;
}
.about-shape{
    position: absolute;
    right: 3%;
    top: 116%;
}
.home{
	background-image: url(../images/home_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #6928d9;
	height: 100%;
	width: 100%;
	padding: 0 160px;
}
.home-content-wrap{
	display: table;
	height: 100%;
}
.home-content{
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.home-content p{
	font-size: 34px;
	
}
.home-content h1{
	font-size: 80px;
    line-height: 1; 
}
/*.author-img{
	position: absolute;
	bottom: 0;
	padding: 40px 0 0 100px;
}*/
/*.author-img img{
	height: 100%;
	width: 100%;
}*/
/*	......................................
	03. about css
	......................................
*/
.about{
	height: 100%;
}
.section-title{
	text-align: center;
}
.section-title span{
	font-weight: 500;
	color: #6928d9;
	text-transform: uppercase;
}
.section-title h3{
	font-size: 44px;
	color: #060630;
	text-transform: capitalize;
	padding: 10px 0 30px;
}
.about-contact-wrap{
	border-bottom: 1px solid #f7f5f5;
}
.about-contact{
	padding-left: 15px;
}
.about-contact span{
	font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #9498a9;
    word-spacing: 4px;
    margin-bottom: 10px;
    display: inline-block;
}
.about-contact h5{
	font-size: 24px;
    color: #060630;
    font-family: 'Lilita One', cursive;
}
.abt-contact-icon{
	height: 80px;
    width: 80px;
    text-align: center;
    font-size: 30px;
    line-height: 80px;
    color: #fff;
    background: #6928d9;
    display: table;
    -webkit-box-shadow: -22px -16px 0px 0px rgba(244,237,255,1);
    -moz-box-shadow: -22px -16px 0px 0px rgba(244,237,255,1);
    box-shadow: -22px -16px 0px 0px rgba(244,237,255,1);
    margin-bottom: 35px;
}
.about-left .me {
    -webkit-box-shadow: -10px 59px 55px -50px #2c733c, -20px 60px 55px -44px #662075, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: -10px 59px 55px -50px #2c733c, -20px 60px 55px -44px #662075, 5px 5px 15px 5px rgba(0,0,0,0);
    padding-right: 20px;
}
.about-right{
	padding-left: 60px;
}
.about-right span{
	font-size: 14px;
    font-weight: 500;
    color: #9498a9;
    text-transform: uppercase;
}
.about-right h3{
	font-size: 54px;
    text-transform: capitalize;
    color: #060630;
    margin: 20px 0;
}
a.p-color{
	font-size: 19px;
    color: #6928d9;
    margin-bottom: 15px;
    display: block;
    line-height: 25px;
}
.about-right p{
	color: #9498a9;
    padding-bottom: 15px;
    line-height: 29px;
}
a.section-btn{
	display: inline-block;
    background: #6928d9;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 14px 34px;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
a.section-btn:hover{
	border: 2px solid #44ebff;
	background: transparent;
  color: #060630;
}
a.section-btn-active{
	font-size: 15px;
    font-weight: 600;
  border: 2px solid #44ebff;
  background: transparent;
  color: #060630;
  padding: 16px 34px;
}
/*	......................................
	04. skill css
	......................................
*/
.skill-education{
	background: #060630;
}
.skill-edu-title{
	padding-bottom: 50px;
	padding-left: 36px;
}
.skill-edu-title span{
	font-weight: 500;
    color: #00ffa2;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.skill-edu-title h4{
	text-transform: capitalize;
    color: #fff;
    font-size: 45px;
    padding: 15px 0;
}
.single-progress{
	color: #fff;
	margin-top: 30px;
    text-align: center;
    position: relative;
}
.parcentage {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    font-family: 'Lilita One', cursive;
    position: absolute;
    width: 100%;
    left: 0;
    top: 45%;
    line-height: 50px;
    margin-top: -32px;
}
.single-progress p {
    font-weight: 500;
    color: #aaaabf;
    position: absolute;
    width: 100%;
    left: 0;
    top: 45%;
    line-height: 50px;
    margin-top: 2px;
}
.edu-year-item{
	float: right;
	text-align: right;
}
.edu-year-item h5, .edu-graduation-item h5 {
    margin-top: 30px;
    font-size: 29px;
    color: #fff;
    text-transform: capitalize;
}
.edu-year-item p,
.edu-graduation-item p{
	color: #aaaabf;
	line-height: 22px;
}
.edu-year{
	padding-right: 5px;
}
.edu-year-1 h5 {
    color: #1573ff;
}
.edu-year-2 h5 {
    color: #16ffdb;
}
.edu-year-3 h5 {
    color: #baff26;
}
.edu-year-item h5 {
    margin-bottom: 15px;
}
.edu-graduation{
	color: #fff;
	position: relative;
	padding-left: 30px;
}
.edu-graduation:before{
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 2px;
	background: #20205f;
}
.edu-graduation-item-1,
.edu-graduation-item-2,
.edu-graduation-item-3{
	position: relative;
}
.edu-graduation-item-1:before{
	position: absolute;
    content: "";
    left: -37px;
    top: 10px;
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
}
.edu-graduation-item-1:nth-child(1):before {
    border: 4px solid #1573ff;
}
.edu-graduation-item-2:before{
	position: absolute;
    content: "";
    left: -37px;
    top: 10px;
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
}
.edu-graduation-item-2:nth-child(2):before {
    border: 4px solid #16ffdb;
}
.edu-graduation-item-3:before{
	position: absolute;
    content: "";
    left: -37px;
    top: 10px;
    height: 15px;
    width: 15px;
    background: #fff;
    border-radius: 50%;
}
.edu-graduation-item-3:nth-child(3):before {
    border: 4px solid #baff26;
}
.edu-graduation-item-3:nth-child(3):after {
    position: absolute;
    content: "+";
    bottom: 0;
    left: -44px;
    height: 30px;
    width: 30px;
    background: #1573ff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    cursor: pointer;
    font-weight: 500;
}
/*	......................................
	05. qualification css
	......................................
*/
.qualification-item{
	background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 34px;
   	position: relative;
    margin-top: 30px;
    transition: .3s;
}
.qualification-item.active:before,
.qualification-item:hover:before
{
	position: absolute;
    content: "";
    top: -8px;
    left: -8px;
    height: 70px;
    width: 70px;
    border-top: 8px solid #16ffdb;
    border-left: 8px solid #16ffdb;
    transition: .3s;
}
.qualification-item.active:after,
.qualification-item:hover:after
{
	position: absolute;
    content: "";
    bottom: -8px;
    right: -8px;
    height: 70px;
    width: 70px;
    border-bottom: 8px solid #1573ff;
    border-right: 8px solid #1573ff;
    transition: .3s;
}
.qualification-icon{
    height: 80px;
    width: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    color: #6928d9;
    font-size: 30px;
   	box-shadow: 2px 9px 5px 0px rgba(105,40,217,0.16);
	-webkit-box-shadow: 2px 9px 5px 0px rgba(105,40,217,0.16);
	-moz-box-shadow: 2px 9px 5px 0px rgba(105,40,217,0.16);
	margin-bottom: 40px;
 	position: relative;
}
.qualification-icon:before {
    position: absolute;
    content: "";
    top: -3.5px;
    left: 15px;
    height: 7px;
    width: 7px;
    background: #16ffdb;
}
.qualification-icon:after {
    position: absolute;
    content: "";
    bottom: 15px;
    right: -3.5px;
    height: 7px;
    width: 7px;
    background: #baff26;
}
.qualification-item h4 {
    font-size: 29px;
    color: #060630;
    margin: 15px 0;
    text-transform: capitalize;
}
.qualification-item h4:hover{
	color: #6928d9;
}
.qualification-item span {
    font-size: 16px;
    color: #9498a9;
    margin-bottom: 15px;
    display: inline-block;
}
.qualification-item p {
    color: #9498a9;
}
/*	......................................
	06. portfolio css
	......................................
*/
.portfolio{
    background-color: #fafbff;
}
.portfolio-wrap img{
    width: 100%;
    height: 100%;
}
.portfolio-wrap-1,
.portfolio-wrap-3,
.portfolio-wrap-4,
.portfolio-wrap-5{
    height: 270px;
    width: 100%;
    margin-bottom: 38px;
}
.portfolio-wrap-2{
    height: 570px;
    width: 100%;
}
.portfolio-menu{
    margin-bottom: 58px;
}
.portfolio-menu li{
    text-transform: uppercase;
    margin: 0 18px;
    color: #9498a9;
    font-weight: 500;
    border-bottom: 1px solid #dddfe6;
    padding-bottom: 3px;
}
.portfolio-menu li.active{
    color: #6928d9;
    border-bottom: 1px solid#6928d9;
}
.portfolio-wrap {
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.portfolio-hover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(6, 6, 48, .8);
    left: 0;
    top: 0;
    padding-top: 150px;
    border:0px solid#ffe3de;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.portfolio-wrap a:hover .portfolio-hover{
    opacity: 1;
    border:15px solid#c1a1d3;
}
.portfolio-wrap-2 .portfolio-hover{
    padding-top: 450px;
}
.portfolio-hover span {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    word-spacing: 4px;
    position: relative;
    letter-spacing: 1px;
    padding-left: 70px;
    display: inline-block;
}
.portfolio-hover h5 {
    text-transform: capitalize;
    font-size: 14px;
    color: #E5E1D4;
    padding-top: 7px;
    padding-left: 70px;
    transition: .3s;
}
/*	......................................
	07. service css
	......................................
*/
.service {
    background: #060630;
}
.service .section-title{
	text-align: left;
}
.service .section-btn{
	float: right;
}
.service .section-btn:hover{
	color: #fff;
}
.service .section-title span {
    color: #00ffa2;
}
.service .section-title h3 {
    color: #fff;
}
.service-item h4 {
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    padding: 18px 0;
}
.service-item p {
    color: #aaaabf;
}
/*	......................................
	08. team css
	......................................
*/
.team {
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-member{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 410px;
    position: relative;
    transition: .3s; 
}
.team-member-1{
	background-image: url(../images/team/01.jpg);
   background-color: #ddd;
}
.team-member-2{
	background-image: url(../images/team/02.jpg);
   background-color: #ddd;
}
.team-member-3{
	background-image: url(../images/team/03.jpg);
   background-color: #ddd;
}
.team-member-wrap h4 {
    font-size: 29px;
    color: #060630;
    padding: 30px 0 10px 15px;
    text-transform: capitalize;
}
.team-member-wrap p{
	color: #6928d9;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 15px;
}
.team-member:hover .social{
	transition: .3s;
	opacity: 1;
}
.social{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -22px;
	transition: .3s;
	opacity: 0;
}
.social.active{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -22px;
	transition: .3s;
	opacity: 1;
}
.social a i {
    background: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    color: #9498a9;
    font-size: 15px;
    line-height: 39px;
    margin: 3px;
    display: inline-block;
    transition: .3s;
}
.social a i:hover{
	background: #6928d9;
	color: #fff;
	transition: .3s;
}
.social a i.active{
	background-color: #6928d9;
	color: #fff;
	transition: .3s;
}
/*	......................................
	09. testimonial css
	......................................
*/
.testimonial{
	background-color: #6928d9;
	position: relative;
	padding-top: 30px;
}
.testimonial:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/testimonial/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonial-right{
    color: #fff;
    padding: 70px 0;
}
.review .start{
    float: left;
    width: 75%;
}
.review .start i {
    color: #fff000;
    font-size: 14px;
}
.testimonial-right h4{
    font-size: 30px;
    color: #fff;
    margin: 40px 0;
}

span.quality {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    float: right;
}
.author-test-img {
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.author-content{
    padding: 8px 15px;
    display: inline-block;
}
.author-content h5{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}
.author-content span{
    color: #eaff00;
    font-weight: 500;
}
/*  ......................................
    10. Contact css
    ......................................
*/
.form-group{
    position: relative;
}
.form-group input, .form-group textarea {
    font-size: 12px;
    padding-left: 53px;
    border: 2px solid #eae8ff;
    width: 100%;
    border-radius: 0px;
}
.form-group i {
    position: absolute;
    color: #6928d9;
    font-size: 13px;
    top: 8px;
    left: 23px;
}
a.section-btn {
    display: inline-block;
    background: #6928d9;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 34px;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
/*  ......................................
    11. sponsor-brand css
    ......................................
*/
.sponsor-brand{
    border-top: 1px solid#dfdfdf;
    border-bottom: 1px solid#dfdfdf;
    padding: 100px 0;
}
/*  ......................................
    12. blog css
    ......................................
*/
.blog-bg{
    overflow: hidden;
}
.blog-bg img {
    width: 100%;
    height: 260px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.blog-bg img:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}
.blog-content{
    padding: 15px;
}
.name-comment {
    color: #9498a9;
    font-size: 14px;
}
.comments{
    float: right;
}
.name-comment i {
    padding-right: 6px;
}
.blog-content h4 {
    font-size: 25px;
    color: #060630;
    padding: 15px 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.blog-content h4:hover{
    color: #6610f2;
}
.blog-content p {
    color: #9498a9;
}
a.read {
    color: #060630;
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
a.read:hover{
    color: #6610f2;
}
/*  ......................................
    13. footer css
    ......................................
*/
.footer-top {
    background: #6928d9;
    padding: 30px 0;
}
.footer-top ul {
    text-align: right;
}
.footer-top ul li {
    display: inline-block;
}
.footer-top ul li a {
    display: inline-block;
    padding: 5px 15px;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
}
.footer-bottom {
    background: #5c20c3;
    padding: 50px 0;
}
.footer-social a {
    display: inline-block;
    color: #fff;
    border: 2px solid #8d63d5;
    font-size: 14px;
    padding: 12px 20px;
    text-transform: uppercase;
    margin-right: 15px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.footer-social a i {
    display: inline;
}
.footer-bottom-left p {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 30px;
}
.footer-bottom-right {
    padding-left: 15px;
}
.footer-bottom-right h4 {
    font-size: 29px;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 15px;
}
.footer-bottom-right input {
    height: 50px;
    padding: 20px;
    font-size: 14px;
}
.footer-bottom-right button {
    background: #6a29d9;
    color: #fff;
    font-size: 14px;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    border: 1px solid transparent;
}